<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projetobase.projeto.app.com.br.projetobase">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //1-activity de login
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"> <!--tela fica fixa na vertical-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //2- tela principal (default)
        <activity
            android:name=".TelaPrincipal"
            android:label="@string/title_activity_tela_principal"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!--android:configChanges="orientation|keyboardHidden" ao mudar a orientação não recria a activity-->
            <!--este método necessita implementar o método onConfigurationChange(Configuration)-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.LoginActivity" />
        </activity>
        //3-cadastro de usuario
        <activity
            android:name=".CadastroUsuario"
            android:label="@string/title_activity_cadastro_usuario"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.LoginActivity" />
        </activity>
        <activity
            android:name=".EsquecerSenha"
            android:label="@string/title_activity_esquecer_senha"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.LoginActivity" />
        </activity>
        <activity
            android:name=".Perfil"
            android:label="@string/title_activity_perfil"
            android:parentActivityName=".TelaPrincipal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.TelaPrincipal" />
        </activity>
        <activity
            android:name=".ExibirPerfil"
            android:label="@string/title_activity_exibir_perfil"
            android:parentActivityName=".Perfil"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.Perfil" />
        </activity>
        <activity
            android:name=".Ajuda"
            android:label="@string/title_activity_ajuda"
            android:parentActivityName=".TelaPrincipal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.TelaPrincipal" />
        </activity>
        <activity
            android:name=".Configuracao"
            android:label="@string/title_activity_configuracao"
            android:parentActivityName=".TelaPrincipal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.TelaPrincipal" />
        </activity>
        <activity
            android:name=".EditarDados"
            android:label="@string/title_activity_editar_dados"
            android:parentActivityName=".Configuracao"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.Configuracao" />
        </activity>
        <activity
            android:name=".Sobre"
            android:label="@string/title_activity_sobre"
            android:parentActivityName=".Configuracao"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.Configuracao" />
        </activity>
        <activity
            android:name=".ParaVoce"
            android:label="@string/title_activity_para_voce"
            android:parentActivityName=".TelaPrincipal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.TelaPrincipal" />
        </activity>
        <activity
            android:name=".ParaOutro"
            android:label="@string/title_activity_para_outro"
            android:parentActivityName=".TelaPrincipal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.TelaPrincipal" />
        </activity>
        <activity
            android:name=".ConsultarChamado"
            android:label="@string/title_activity_consultar_chamado"
            android:parentActivityName=".TelaPrincipal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.TelaPrincipal" />
        </activity>
        <activity
            android:name=".ListarChamados"
            android:label="@string/title_activity_listar_chamados"
            android:parentActivityName=".ConsultarChamado"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.ConsultarChamado" />
        </activity>
        <activity
            android:name=".Fragment"
            android:label="@string/title_activity_fragment"
            android:parentActivityName=".TelaPrincipal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="projetobase.projeto.app.com.br.projetobase.TelaPrincipal" />
        </activity>
        <activity
            android:name=".Status"
            android:label="@string/title_activity_status"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>